<div class="admin-container">
	<div class="aside"
	     id="aside">
		<div class="admin-wrapper">
			<div>
				<form>
					<mat-form-field>
						<input type="text"
						       placeholder="Search everything"
						       matInput
						       [formControl]="myControl"
						       [matAutocomplete]="auto">
						<mat-autocomplete #auto="matAutocomplete">
							<mat-option *ngFor="let option of objects"
							            [value]="option.name">
								{{ option.name }}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</form>
			</div>
		</div>
		<app-sidenav></app-sidenav>
	</div>
	<div id="content">
		<app-toolbar></app-toolbar>
		<div class="admin-routes">
			<main-content></main-content>
		</div>
	</div>
</div>