@primary-text-color:#797979;

.admin-nav {
    color: white;
    .nav-button {
        color: @primary-text-color;
        width: 100%;
        outline: none;
        padding: 7px 25px;
        .grid-button {
            
            span {
                text-align: left;
                float: right;
                display: block;
                width: 80%;
            }
            svg {
                height: 100%;
            }
        }   
    }
}